body {
    background: #24292E;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/pt_sans/PTSans-Regular.ttf');
}

a[class='github-url'] {
    color: #D6D8DA;
    text-decoration-line: none;
    font-family: "PT Sans";
    font-size: 50px;
}

a[class='github-url']:hover {
    color: #ABACAE;
}

#url-result {
    color: #D6D8DA;
    padding: 12px 10px;
    text-decoration-line: none;
    font-family: "PT Sans";
    font-size: 15px;
}

#url-result:hover {
    color: #ABACAE;
    padding: 12px 10px;
    text-decoration-line: none;
    font-family: "PT Sans";
    font-size: 15px;
}

#url {
    width: 40%;
    padding: 12px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #24292E;
    color: #7F8D8D;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1B1D23;
}

#submitButton {
    width: 20%;
    background: linear-gradient(#515457, #424549);
    font-family: "PT Sans";
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#footer {
    font-family: "PT Sans";
    color: #D6D8DA;
    bottom: 0;
}

p {
    color: #D6D8DA;
    font-family: "PT Sans";
}